# NUKE_PATH
#
# The location where files related to Nuke customizations are stored. 
# For more information, see the following documentation: 
# https://learn.foundry.com/nuke/content/comp_environment/configuring_nuke/loading_gizmos_plugins_scripts.html
#
# Example paths:
#
#   Windows:
#     drive letter:\Program Files\Nuke17.0v1\plugins\nukescripts 
#     drive letter:\Program Files\Nuke17.0v1\plugins
#     ~\.nuke 
#
#   Linux:
#     /usr/local/Nuke17.0v1/plugins
#     /usr/local/Nuke17.0v1/plugins/nukescripts
#     /home/login name/.nuke
#
#   macOS:
#     /Applications/Nuke17.0v1/Nuke17.0v1.app/Contents/MacOS/plugins
#     /Applications/Nuke17.0v1/plugins/nukescripts
#     /Users/login name/.nuke
#
NUKE_PATH=~/.nuke